.option {
  margin-inline: -1rem;
  counter-increment: option-index;
}

.option > button {
  display: block;
  inline-size: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.16;
  padding: 1.16rem 3rem;
  box-sizing: border-box;
  color: var(--black-100);
  border: 0;
  text-decoration: none;
  transition: background-image 150ms;
  cursor: pointer;
  text-align: left;
}

.option > button::before {
  content: counter(option-index, upper-alpha);
  margin-inline-end: .5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--orange-100);
}

.option > button:focus {
  outline: 0;
}

/* Backgrounds */

.option > button {
  background: no-repeat center / calc(100% - 2rem) 100%, no-repeat center / 100% 1px;
  background-image: 
    url('data:image/svg+xml,\
      <svg width="373" height="72" xmlns="http://www.w3.org/2000/svg">\
        <path \
          d="M32.052 0.5H340.948C344.648 0.5 348.122 2.28015 350.283 5.28343L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5Z"\
          fill="%23FFFFFF"\
          stroke="%23D0D0D8"\
        />\
      </svg>\
    '),
    url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="%23D0D0D8">\
        <rect x="0" y="0" width="1" height="1" />\
      </svg>\
    ');
}

.option > button:hover,
.option > button:focus {
  background-image:
    url('data:image/svg+xml,\
      <svg width="373" height="72" xmlns="http://www.w3.org/2000/svg">\
        <path \
          d="M32.052 0.5H340.948C344.648 0.5 348.122 2.28015 350.283 5.28343L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5Z"\
          fill="%23FFFFFF"\
          stroke="%23FF8B37"\
        />\
      </svg>\
    '),
    url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="%23FF8B37">\
        <rect x="0" y="0" width="1" height="1" />\
      </svg>\
    ');
}

.option > button:active,
.option > button[aria-pressed=true] {
  background-image:
    url('data:image/svg+xml,\
      <svg width="373" height="72" xmlns="http://www.w3.org/2000/svg">\
        <path \
          d="M32.052 0.5H340.948C344.648 0.5 348.122 2.28015 350.283 5.28343L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5Z"\
          fill="%23FFF3EB"\
          stroke="%23FF8B37"\
        />\
      </svg>\
    '),
    url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="%23FF8B37">\
        <rect x="0" y="0" width="1" height="1" />\
      </svg>\
    ');
}

.option.correct > button {
  background-image:
    url('data:image/svg+xml,\
      <svg width="373" height="72" xmlns="http://www.w3.org/2000/svg">\
        <path \
          d="M32.052 0.5H340.948C344.648 0.5 348.122 2.28015 350.283 5.28343L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5Z"\
          fill="%23E6FAEA"\
          stroke="%2347D867"\
        />\
      </svg>\
    '),
    url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="%2347D867">\
        <rect x="0" y="0" width="1" height="1" />\
      </svg>\
    ');
}

.option.wrong > button {
  background-image:
    url('data:image/svg+xml,\
      <svg width="373" height="72" xmlns="http://www.w3.org/2000/svg">\
        <path \
          d="M32.052 0.5H340.948C344.648 0.5 348.122 2.28015 350.283 5.28343L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5Z"\
          fill="%23FDEEED"\
          stroke="%23EC6259"\
        />\
      </svg>\
    '),
    url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="%23EC6259">\
        <rect x="0" y="0" width="1" height="1" />\
      </svg>\
    ');
}

/*  List */

.option-list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: option-index;
}
